<mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" >
        <h2>Log In</h2>
        <!-- <mat-error >
          The username and password were not recognized
        </mat-error> -->
        <mat-form-field appearance="outline">
          <input formControlName="email" matInput placeholder="Email" >
            <mat-error *ngIf="loginForm.controls.email.invalid">
            {{loginForm.controls.email.hasError('required')?'Email is required':'Please enter a valid email'}}
            </mat-error>
        </mat-form-field>
       
        <mat-form-field appearance="outline">
          <input formControlName="password" matInput type="password" placeholder="Password" >
            <mat-error *ngIf="loginForm.controls.password.invalid">
            {{loginForm.controls.password.hasError('required')?'Password is required':'Please enter a valid password'}}
            </mat-error>
        </mat-form-field>
        
        <button (click)="login()" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Login</button>
      </form>
      {{loginForm.value | json}}
      <div class="buttons-container">
          <br>
        <p>OR</p>
        <button mat-button routerLink="/create-account">Create Account</button>
    </div>
    </mat-card-content>
  </mat-card>